body {
	font-family: 'Roboto', sans-serif;
	background-color: black;
	color: white;
	font-size: 300%;
}

mirror-clock .clock {
	font-size: 3em;
	font-weight: 300;
}

mirror-weather .celsiuswrapper {
	margin-top: -4px;
}

mirror-weather, mirror-event {
	font-weight: 100;
}

i.wi.wi-celsius {
	font-size: 2em;
}

i.fa {
	font-size: 1.3em;
}
